header
      nav.navbar.sticky-top.navbar-dark.bg-dark
        a.navbar-brand(href='#')
          img.d-inline-block.align-top(src='images/favicon.png', width='30', height='30', alt='')
          | 			SSLocalization
