mixin recSettings(id)
	.input-group
		.input-group-prepend
			span.input-group-text
				b=id
		.input-group-addon
			span.input-group-text
				b X[m]:
		input.form-control(id = id + '_x',type='number', step='0.01', aria-label='X')
		.input-group-addon
			span.input-group-text
				b Y[m]:
		input.form-control(id = id + '_y', type='number', step='0.01', aria-label='Y')
		.input-group-addon
			span.input-group-text
				b Z[m]:
		input.form-control(id = id + '_z', type='number', step='0.01', aria-label='Z')
		.input-group-addon
			span.input-group-text
				b isReference:
		.input-group-text
			input(id = id + '_ref', type='checkbox', aria-label='Reference receiver checkbox')

mixin dimensionSettings(id)
	.input-group
		.input-group-prepend
			span.input-group-text
				b=id
		.input-group-addon
			span.input-group-text
				b width[cm]:
		input.form-control(id = id + '_width',type='number', step='0.1', min="50", aria-label='X')
		.input-group-addon
			span.input-group-text
				b heigth[cm]:
		input.form-control(id = id + '_heigth', type='number', step='0.1', min="10", aria-label='Y')
		.input-group-addon
			span.input-group-text
				b length[cm]:
		input.form-control(id = id + '_length', type='number', step='0.1', min="50", aria-label='Z')